:root{
  --cor-0:#f2f2f2;
  --cor-1:#2C2830;
  --cor-2:#837D88;
  --cor-3:#2D2641;
  --cor-4:#96A9C6;
  --cor-5:#FAFAFA;
  

}

.cor-0{
  color:var(--cor-0)
}
.cor-1{
  color:var(--cor-1)
}

.cor-2 {
  color:var(--cor-2)
}

.cor-3{
  color:var(--cor-3)
}

.cor-4{
  color:var(--cor-4)
}

.cor-5{
  color:var(--cor-5)
}