.footer-bg{
  background-color: var(--cor-0);
}

.footer-container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
  display: grid;
}

.empresa-redes{
  display: flex;
  border-bottom: 1px solid var(--cor-2);
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.redes-lista{
  display: flex;
  gap: 10px;
}

.link-secundarios{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.lista-link{
  display: grid;
  gap: 10px;
}