.about-us-more-bg{
  background-color: var(--cor-3);
}

.about-us-more{
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
justify-content: space-between;
padding: 40px;
align-items: center;
margin-bottom: 60px;

}

.about-us-more h2{
  
  max-width: 20ch;
  
}
.about-us-more a{
  text-transform: uppercase;
}


@media (max-width:600px) {
  .about-us-more{
    padding: 60px;
    text-align: center;
  flex-direction: column;
  gap: 20px;
  }
  
}