
.section-principal-bg{
  background-color: var(--cor-3);
  box-shadow: inset 0 -120px var(--cor-0);
  
}

.principal-container{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 60px 0px 0px;
  padding-right: 20px;
  
}

.principal-content{
  padding: 20px;
  display: grid;
  align-self: flex-start;
  justify-items: flex-start;
  gap: 26px;
}
.principal-content h1{
  max-width: 15ch;
}

.principal-content p{
  max-width: 55ch;
}

.principal-content a{
  padding: 8px 16px;
}
.img-principal{
  
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width:1200px){
  .principal-content{
    padding-bottom: 200px;
  }
}

@media (max-width:600px) {
  .section-principal-bg{
    
    
    background-position: center center;
    box-shadow: none;
  }
  .principal-container{
   
    padding: initial;
    grid-template-columns: 1fr;
  }
  .principal-content{
  padding: 26px;
  justify-items: center;
  text-align: center;
  order: 2;
  }

  .principal-content p{
    max-width: 35ch;
  }
  .principal-content a{
    margin-bottom: 24px;
  }
 
  
}