.section-aboutus{
  display: grid;
  max-width: 1440px;
  margin: 0 auto 100px;
  gap: 100px;
  padding: 20px;

}

.sobre-lista{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.section-aboutus h2{
 
  margin-top: 60px;
}

.sobre-item p{
  max-width: 40ch;
}
.sobre-item{
  display: grid;
    gap: 20px;

}

@media (max-width:600px){
  .section-aboutus{
    text-align: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .sobre-lista{
  
  grid-template-columns: 1fr;
  justify-items: center;
  }

  .sobre-item{
    gap: 10px;
    justify-items: center;
   
  }
  .section-aboutus h2{
    margin-top: 30px;
  }
  
}